.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 100px 600px 100px 1fr;
	grid-template-rows: 100px, repeat(4, 1fr);
}

#top_nav {
	grid-column-start: 4;
	grid-column-end: 5;
}

header {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	background: url("images/banner_image.jpg") no-repeat center;
	background-size: cover;
	height: 600px;
}

.about {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
}

.portfolio {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 4;
}

footer {
	grid-column-start: 1;
	grid-row-start: 5;
}

@media (max-width: 600px) {
	
	.container {
	grid-column: span 4;
	}
}